* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
}

body {
    background-color: #090e22;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    color: #fff;
}

.hide {
    display: none !important;
}

.container {
    max-width: 400px;
    min-height: 400px;
    background-color: #1d1e33;
    padding: 2rem;
}

/* IMC Formulário */
#calc-container h2 {
    text-align: center;
    margin-bottom: 2rem;
}

.form-inputs {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.form-control {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-bottom: 1rem;
}

.form-control label {
    font-weight: bold;
    margin-bottom: 0.6rem;
    color: #ccc;
}

.form-control input {
    padding: 0.8rem 0.5rem;
}

.action-control {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
    gap: 1rem;
}

/* Os 2 botões de Calcular e Limpar*/
button { 
    text-transform: uppercase;
    padding: 1rem 3rem;
    background-color: #f44236;
    border: none;
    color: #fff;
    cursor: pointer;
    opacity: 0.9;
    flex: 1;
}

button:hover {
    opacity: 1;
}
